<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background:url('https://www.xtrafondos.com/descargar.php?id=4007&resolucion=2560x1440')no-repeat; background-size:cover; ">
<header>
    <div class="container"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Timeplok</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="novedades.html">NOVEDADES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="form.html">CONTACTAME</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" href="index.html"> REGISTROS CONTACTADOS</a>
                    </li>
                </ul>



            </div>
        </div>
    </nav>

</header>
<div class="container mt-4">

    <div class="col-sm-6">
        <form th:action="@{/save}" th:object="${arma}" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3>
                        AGREGAR/EDITAR PERSONAS
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input th:field="*{id}" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input th:field="*{nombre}" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input th:field="*{apellido}" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Celular</label>
                        <input th:field="*{celular}" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input th:field="*{email}" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Inquietud</label>
                        <input th:field="*{inquietud}" type="text" class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <a th:href="@{/listar/}" class="btn btn-warning">Atras</a>
                </div>
            </div>

        </form>

    </div>
</div>
<table>

</table>
</body>
</html>