<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body style="background:url('https://www.xtrafondos.com/descargar.php?id=4007&resolucion=2560x1440')no-repeat; background-size:cover; ">
<header>
	<div class="container"></div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Timeplok</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="novedades.html">NOVEDADES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="form.html">CONTACTAME</a>
					</li>


					<li class="nav-item">
						<a class="nav-link active" href="index.html"> REGISTROS CONTACTADOS</a>
					</li>
				</ul>



			</div>
		</div>
	</nav>

</header>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
		<table class="table" border="=3">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					<th>APELLIDO</th>
					<th>CELULAR</th>
					<th>EMAIL</th>
					<th>INQUIETUD</th>
					<th>ACCIONES</th>

				</tr>

			</thead>
			<tbody>
				<tr th:each="arma:${armas}">
					<td th:text="${arma.id}"></td>
					<td th:text="${arma.nombre}"></td>
					<td th:text="${arma.apellido}"></td>
					<td th:text="${arma.celular}"></td>
					<td th:text="${arma.email}"></td>
					<td th:text="${arma.inquietud}"></td>
					<td>
						<a th:href="@{/editar/}+${arma.id}" class="btn btn-warning">Editar</a>
						<a th:href="@{/eliminar/}+${arma.id}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<table>

	</table>
</body>
</html>