<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timeplok</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body style="background:url('https://www.xtrafondos.com/descargar.php?id=4007&resolucion=2560x1440')no-repeat; background-size:cover; ">
<header>
    <div class="container"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Timeplok</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">SUGERENCIAS</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">CONTACTAME</a>
                    </li>
                </ul>



            </div>
        </div>
    </nav>

</header>

<div class="carousel-inner">
    <div class="carousel-item active mt-4  ">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Call_of_Duty_Warzone_Logo.png"
             width="2000px"
             height="200"
             alt="me muestra">
    </div>


</div>


<div class="container">
    <div class="row">
        <div class="col-13">
            <h3 style="color:white">
                Debes undir click ala barra para poder escribir el nombre de la skin del arma que quieres encontrar.
            </h3>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <section class="Mostrar">
            <h2 class="text-center my-7 col-10" style="color:green">Arma encontrada</h2>
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <h5>
                            La MP40 (Maschinenpistole 40) es probablemente la ametralladora más utilizada en todo el universo de COD 2.0 y, según los desarrolladores del juego, se define como: "Una ametralladora extremadamente poderosa a corta distancia".

                        </h5>
                    </div>
                    <div class="col-6 text-justify">
                        <img class="img-fluid" src="https://e7.pngegg.com/pngimages/650/564/png-clipart-mp-40-firearm-air-gun-rifle-submachine-gun-machine-gun-assault-rifle-machine-gun.png">

                    </div>

                </div>
            </div>




        </section>

    </div>
</div>

</body>
</html>